$font-stack: 'Epilogue', system-ui, Avenir, Helvetica, Arial, sans-serif;
$primary-color: #fff;
$secondary-color: #EF6D58;
$bg-color: #1C1D2A;
$secondary-bg-color: #303146;
$border-color: solid #ADADB2;