// Breakpoints
$tab-width: 1200px;

// Fonts
$font-stack: 'Epilogue', system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-size-main-title: var(--font-size-main-title);
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

//Colors
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$text-color: var(--text-color);
$bg-color: var(--bg-color);
$secondary-bg-color: var(--secondary-bg-color);
$container-bg-color: var(--container-bg-color);
$border-color: solid var(--border-color);

// Effects
$transition-effect: all .2s ease-in;
$container-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

// Measurements
$page-top-height: 110px;
$page-top-padding: 20px;
$page-top-margin-bottom: 20px;
$ui-width: 1100px;
$top-spacing: 40px;
$icon-bottom-padding: 4px;

:export {
  colorPrimary: $primary-color;
  colorSecondary: $secondary-color;
  colorText: $text-color;
  colorBg: $bg-color;
  colorSecondaryBg: $secondary-bg-color;
  colorContainerBg: $container-bg-color;
  colorBorder: solid $border-color;
  fontStack: $font-stack;
  fontWeightRegular: $font-regular;
  fontWeightBold: $font-bold;
  fontWeightBlack: $font-black;
  transitionAll: $transition-effect;
  uiWidth: $ui-width;
}

@mixin bottom-gradient () {
  background-image: -webkit-gradient(linear, left bottom, left top, from($bg-color), to(rgba(0,0,0,0)));
  height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  pointer-events: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
}

@mixin nav-style () {
  color: $text-color;
  transition: $transition-effect;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -2px;
    width: 0;
    background-color: $secondary-color;
    transition: .2s ease-in;
  }

  @media (hover: hover) {
    &:hover {
      color: $primary-color;
    }

    &:hover:after {
      width: 100%;
    }
  }

  &.touch-hover {
    color: $primary-color;
    transition: $transition-effect;

    &::after {
      width: 100%;
    }
  }

  &.current-page {
    &::after {
      width: 100%;
    }
  }
}

@mixin transition (
  $duration-1: .3s,
  $duration-2: .2s,
  $duration-3: 1s,
  $ease: ease,
) {
  transition: background-color #{$duration-3} #{$ease},
              color #{$duration-1} #{$ease},
              border #{$duration-1} #{$ease},
              letter-spacing #{$duration-1} #{$ease},
              transform #{$duration-2} #{$ease};
}

@mixin button-hover(
  ) {
  background-color: $secondary-color;
  border: 2px $border-color; 
  letter-spacing: .3px;
}

@mixin button-disabled() {
  background-color: $secondary-bg-color;
  border: 2px $border-color;
  color: $text-color;
  cursor: auto;
}

@mixin button(
  $name: 'button',
  $width: 390px, 
  $height: 50px,
  $color: #EF6D58, 
  $text-color: #fff, 
  $font-family: 'Epilogue', 
  $font-size: 20px, 
  $font-weight: 800,        
  ) {
  position: relative;
  background-color: $color;
  color: $text-color;
  height: $height;
  width: $width;
  border-radius: 6px;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  outline: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: 2px solid rgba(0,0,0,0);
  
  @include transition();

  &:active {
    transform: translateY(3px);
  }

  &:hover {
    @include button-hover;
  }

  &:disabled {
    @include button-disabled;
  }
}
