@use 'base.module' as *;

a {
  text-decoration: none;
  a:active {
    text-decoration: none;
  }
}

// Top Section

.feed-top {
  display: flex;
  justify-content: space-between;
  width: $ui-width;
  border-bottom: 2px solid $secondary-color;
  margin-top: $top-spacing;
  margin-bottom: $page-top-margin-bottom;
  height: $page-top-height;
  padding-top: $page-top-padding;

  h1 {
    font-size: $font-size-main-title;
    font-weight: $font-bold;
    margin: 0;
    color: $primary-color;
  }

  h3 {
    font-size: 16px;
    font-weight: $font-regular;
    margin: 0;
    color: $secondary-color;
    text-transform: uppercase;
  }

  .feed-control {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;

    .feed-refresh,
    .feed-customize {
      display: flex;
      gap: 5px;
      height: 40px;
      align-items: center;
      cursor: pointer; 

      .refresh-icon {
        color: $secondary-color;
        transition: transform .5s;
        width: 16px;
        height: 16px;
      }
      
      h3 {
        color: $text-color;
        font-weight: 500;
        @include transition;
        align-self: center;
      }

      .feed-icon {
        width: 18px;
        height: 18px;
        display: inline-flex;
        align-items: center;
        padding-bottom: $icon-bottom-padding;

        svg {
          width: 100%;
          height: auto;
          color: $secondary-color;
        }

        .options-icon {
          width: 16px;
          height: 16px;
          transition: .5s;
        }
      }

      @media (hover: hover) {
        &:hover {
          h3 {
            color: $secondary-color;
          }

          .refresh-icon {
            transform: rotate(360deg);
          }

          .options-icon {
            transform: rotate(180deg);
          }
        }
      }

      .feed-touch-animation {
        .refresh-icon {
          transition: .5s;
          h3 {
            color: $secondary-color;
          }
          &::after {
            transform: rotate(360deg);
          }
        }
      }

      
    }
  }
}

// Posts Section

.feed-container {
  width: $ui-width;
  display: flex;
  flex-direction: column;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: calc(100vh - 80px - $top-spacing - 20px - 90px - 20px);
  padding-bottom: 50px;

  .bottom-gradient {
    @include bottom-gradient;
  }

  .feed-container::-webkit-scrollbar {
    display: none;
  }

  .before-feed {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    color: $text-color;
    text-align: center;

    p {
      margin: 10px 0;
    }

    .before-feed-icon {
      min-height: 30px;
      display: flex;
      justify-content: center;
    }
  }

  .feed-items {
    column-count: var(--feed-column-number); /* Define the number of columns */
    padding: 0;
    column-gap: 20px; /* Set the gap between columns */
    list-style: none;
    margin: 0;
  }

  .post-container {
    display: inline-block; /* Necessary for column layout */
    width: 100%; /* Ensures items take full column width */
    margin-bottom: 20px; /* Spacing between items */
    background-color: $container-bg-color;
    padding: 30px;
    border-radius: 10px;
    border: 2px $border-color;
    position: relative;
    box-shadow: $container-shadow;

    .title-section {
      display: flex;
      flex-direction: column;
      
      a {
        text-decoration: none;
      }

      h3 {
        font-size: 24px;
        font-weight: $font-bold;
        margin: 0 0 10px;
        color: $secondary-color;
        text-decoration: none;
      }

      .sub-name {
        margin: 0 0 10px;
        color: $primary-color;

        i {
          font-size: 14px;
        }
      }

      .author {
        margin: 0 0 10px;
        color: $text-color;
      }
    }

    .img-section {
      display: flex;
      width: 100%;
      padding: 10px 0;
      border-top: 2px solid $secondary-color;
      border-bottom: 2px solid $secondary-color;
      margin: 0 auto;
      justify-content: center;
      
      img,
      video {
        max-width: 100%;
        border-radius: 6px;
      }
    } 
    
    .votes-comments {
      display: flex;
      margin-top: 10px;
      justify-content: space-around;
      
      p {
        margin: 5px 0 0;
        color: $text-color;
        line-height: 1;
        min-width: 30px;
        text-align: center;
      }

      .vote-container {
        display: flex;
        gap: 10px;
        align-items: center;
        min-width: 150px;
        justify-content: center;

        .vote {
          height: 20px;
          cursor: pointer;
          transition: .3s;
          color: $text-color;

          &:hover {
            color: $secondary-color;
          }
        }

        .vote.down {
          transform: rotate(180deg);
        }
        
        .arrow-icon {
          width: 20px;
          height: 20px;
        }

        .active {
          color: $secondary-color;
        }
      }

      .comments-container {
        display: flex;
        gap: 10px;
        align-items: center;
        min-width: 150px;
        justify-content: center;


        .comments-icon {
          width: 20px;
          height: 20px;
          color: $text-color;
          transition: .3s;
        }

        &:hover .comments-icon{
          color: $secondary-color;
        }
      }
    }
  }
}