@use 'base.module' as *;

.refresh-icon {
  color: $secondary-color;
}

// Top Section

.feed-top {
  display: flex;
  justify-content: space-between;
  width: $ui-width;
  margin-top: 120px;
  border-bottom: 2px solid $secondary-color;
  margin-bottom: 20px;
  height: 90px;

  h1 {
    font-size: 72px;
    font-weight: $font-bold;
    margin: 0;
    color: $text-color;
  }

  h3 {
    font-size: 16px;
    font-weight: $font-regular;
    margin: 0;
    color: $secondary-color;
    text-transform: uppercase;
  }

  .feed-control {
    display: flex;
    // min-width: 200px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;

    .feed-refresh {
      display: flex;
      gap: 10px;
      height: 40px;
      align-items: center;
      cursor: pointer; 
      
      h3 {
        color: $text-color;
        @include transition;
      }

      &:hover {
        h3 {
          color: $secondary-color;
        }
      }
    }
  }
}

// Posts Section

.feed-container {
  width: $ui-width;
  display: flex;
  flex-direction: column;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: calc(100vh - 80px - 120px - 90px - 20px);
  padding-bottom: 50px;

  .bottom-gradient {
    @include bottom-gradient;
  }

  .feed-container::-webkit-scrollbar {
    display: none;
  }
  
  .feed-items {
    padding: 0;
    column-count: $feed-column-number; /* Define the number of columns */
    column-gap: 20px; /* Set the gap between columns */
    list-style: none;
    margin: 0;
  }

  .post-container {
    display: inline-block; /* Necessary for column layout */
    width: 100%; /* Ensures items take full column width */
    margin-bottom: 20px; /* Spacing between items */
    background-color: $secondary-bg-color;
    padding: 30px;
    border-radius: 10px;
    border: 2px $border-color;

    .title-section {
      display: flex;
      flex-direction: column;
      
      a {
        text-decoration: none;
      }

      // .title-text {
      //   max-width: calc(390px - 30px - 60px - 10px - 30px);
      // }

      h3 {
        font-size: 24px;
        font-weight: $font-bold;
        margin: 0 0 10px;
        color: $secondary-color;
        text-decoration: none;
      }

      .sub-time {
        margin: 0 0 10px;
        color: $primary-color;
      }

      .author {
        margin: 0 0 10px;
        color: $text-color;
      }
    }

    .img-section {
      width: 100%;
      padding: 10px 0;
      border-top: 2px solid $secondary-color;
      border-bottom: 2px solid $secondary-color;

      img {
        width: 60px;
        border-radius: 50%;
        margin-right: 10px;
      }
    } 
  }
}