@use 'base.module' as *;

.refresh-icon {
  color: $secondary-color;
}

// Top Section

.feed-top {
  display: flex;
  justify-content: space-between;
  width: $ui-width;
  margin-top: calc($top-spacing + 20px);
  border-bottom: 2px solid $secondary-color;
  margin-bottom: 20px;
  height: 90px;

  h1 {
    font-size: 72px;
    font-weight: $font-bold;
    margin: 0;
    color: $primary-color;
  }

  h3 {
    font-size: 16px;
    font-weight: $font-regular;
    margin: 0;
    color: $secondary-color;
    text-transform: uppercase;
  }

  .feed-control {
    display: flex;
    // min-width: 200px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;

    .feed-refresh {
      display: flex;
      gap: 10px;
      height: 40px;
      align-items: center;
      cursor: pointer; 
      
      h3 {
        color: $text-color;
        @include transition;
        align-self: center;
      }

      .feed-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $secondary-color;
        box-shadow: 0 2px 10px var(--black-a7);
        padding-bottom: $icon-bottom-padding;

      }
      
      .refresh-icon {
        width: 13px;
      }

      &:hover {
        h3 {
          color: $secondary-color;
        }
      }
    }
  }
}

// Posts Section

.feed-container {
  width: $ui-width;
  display: flex;
  flex-direction: column;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: calc(100vh - 80px - $top-spacing - 20px - 90px - 20px);
  padding-bottom: 50px;

  .bottom-gradient {
    @include bottom-gradient;
  }

  .feed-container::-webkit-scrollbar {
    display: none;
  }

  .before-feed {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    color: $text-color;
    text-align: center;

    p {
      margin: 10px 0;
    }

    .before-feed-icon {
      min-height: 30px;
      display: flex;
      justify-content: center;
    }
  }

  .feed-items {
    --feed-column-number: 2;
    column-count: var(--feed-column-number); /* Define the number of columns */
    padding: 0;
    column-gap: 20px; /* Set the gap between columns */
    list-style: none;
    margin: 0;
  }

  .post-container {
    display: inline-block; /* Necessary for column layout */
    width: 100%; /* Ensures items take full column width */
    margin-bottom: 20px; /* Spacing between items */
    background-color: $secondary-bg-color;
    padding: 30px;
    border-radius: 10px;
    border: 2px $border-color;

    .title-section {
      display: flex;
      flex-direction: column;
      
      a {
        text-decoration: none;
      }

      // .title-text {
      //   max-width: calc(390px - 30px - 60px - 10px - 30px);
      // }

      h3 {
        font-size: 24px;
        font-weight: $font-bold;
        margin: 0 0 10px;
        color: $secondary-color;
        text-decoration: none;
      }

      .sub-name {
        margin: 0 0 10px;
        color: $primary-color;

        i {
          font-size: 14px;
        }
      }

      .author {
        margin: 0 0 10px;
        color: $text-color;
      }
    }

    .img-section {
      display: flex;
      width: 100%;
      padding: 10px 0;
      border-top: 2px solid $secondary-color;
      border-bottom: 2px solid $secondary-color;
      margin: 0 auto;
      justify-content: center;
      
      img,
      video {
        max-width: 100%;
        max-height: 55vh;
        border-radius: 6px;
      }
    }    
  }
}