@use 'base';

.Header {
  height: 80px;
  align-content: center;
  display: flex;
  justify-content: space-between;
  // padding: 0 140px;


  .Header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;

    img {
      width: 45px;
      height: 45px;
    }

    h3 {
      margin-left: 15px;
    }
  }
  nav {
    align-content: center;
  }

  ul {
    display: flex;
    gap: calc(20px);
    padding: 0;
  }

  .contact-button {
    width: 140px;
    height: 50px;
    color: base.$primary-color;
    background-color: base.$bg-color;
    border: 1px base.$border-color;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 800;
    align-self: center;
  }
}