@use 'base.module' as *;

.Header {
  color: var(--primary-color);
  height: var(--header-height);
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: var(--header-justify-content);
  width: var(--ui-width);
  box-sizing: border-box;

  .Header-logo {
    position: var(--header-position);
    top: var(--header-top-margin);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: var(--header-logo-height);
    cursor: pointer;

    img {
      width: 45px;
      height: 45px;
    }

    h3 {
      margin-left: 15px;
    }
  }
  
  nav {
    background-color: var(--nav-background-color);
    width: var(--nav-width);
    align-content: center;
    position: var(--nav-position);
    bottom: var(--nav-bottom);
    z-index: 10;
    
    ul {
      display: flex;
      gap: var(--ul-gap);
      padding: 0 35px;
      justify-content: space-between;
      margin: 0;
    }
  
    li .full-nav-li {
      @include nav-style;
    }

    li .mobile-nav-li {
      display: flex;
      width: var(--nav-li-width);
      height: var(--nav-li-width);
      justify-content: center;
      align-items: center;
      color: var(--text-color)

    }
  }

  .contact-button {
    width: 120px;
    height: 40px;
    color: var(--primary-color);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 14px;
    font-weight: 800;
    align-self: center;
    cursor: pointer;
    @include transition;

    &:hover {
      background-color: var(--secondary-bg-color);
    }
  }
}