@use 'base.module' as *;
@import 'normalize.css';

:root {
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }

  .feed-top {
    overflow-y: auto;
    max-height: 100vh;
  }

  isolation: isolate;
  font-family: 'Epilogue', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  transition: background-color .3s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  // Display 0: Web | 1: Tablet | 2: Mobile
  --display-mode: 0;
  --feed-column-number: 2;

  // Colors
  --primary-color: #fff;
  --secondary-color: #EF6D58;
  --text-color: #B4B5BC;
  --bg-color: #1C1D2A;
  --secondary-bg-color: #303146;
  --container-bg-color: #303146;
  --border-color: #ADADB2;
  --switch-btn-bg: #F6F6F6;

  // Measurements
  --ui-width: 1100px;
  --top-spacing: 40px;
  --mobile-padding: 0px;
  --container-padding: 30px;
  --button-height: 50px;

  // Fonts
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;

  // Fonts
  --font-stack: 'Epilogue', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-size-main-title: 72px;
  --font-size-secondary-title: 48px;
  --font-size-container-title: 24px;
  --h1-mobile-margin: 0px;

  // Header
  --header-position: relative;
  --header-flex-direction: row;
  --header-height: 80px;
  --header-top-margin: 0px;
  --header-justify-content: space-between;
  --header-logo-height: var(--header-height);

  // Nav
  --nav-position: relative;
  --nav-bottom: none;
  --ul-gap: 105px;
  --li-width: none;
  --nav-background-color: none;
  --nav-width: none;
  --nav-li-width: none;
    // Mobile
  --nav-translate-distance: var(--container-padding);

  // Subreddits
    // Switch (Mobile Only)
  --switch-mobile-width: none;
  --switch-gap: 20px;
  --switch-display: none;
  --switch-height: 40px;
    // Search
  --search-margin-top: 0px;
  --search-container-height: 110px;
  --search-h4-height: 20px;
  --search-input-height: 90px;
    // Subs
  --subs-container: grid;
  --grid-template-columns: calc(var(--ui-width) - 300px - 20px) 300px;
  --grid-template-rows: 1fr;
  --sub-image: 60px;
  --search-subs-display: flex;
    //Selected
  --selected-title-margin-bottom: 0px;
  --selected-subs-display: flex;
  --selected-ul-gap: 20px;
  --sub-selected-width: 100%;
  --sub-selected-btn-width: 100%;
  --sub-selected-btn-height: none;

  // Feed
  --page-top-height: 110px;
  --page-top-padding: 20px;
  --page-top-margin-bottom: 20px;
  --icon-bottom-padding: 4px;
  --feed-top-width: var(--ui-width);
    // Post Interactions
  --post-interaction-border: 2px solid var(--secondary-color);
      // Icons
    --icon-height: 20px;
    --options-icon-size: 16px;
    --refresh-icon-size: 19px;
    --feed-icon-gap: 30px;

  .container {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--container-bg-color);
    padding: var(--container-padding);
    border-radius: 10px;
    border: 2px solid var(--border-color);
    box-shadow: $container-shadow;
    box-sizing: border-box;
  }

  .title-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    h2 {
      font-size: var(--font-size-container-title);
      font-weight: var(--font-bold);
      margin: 0;
      color: var(--secondary-color);
      text-overflow: ellipsis;
      overflow: hidden; 
      width: 100%;
    }
  
    h3 {
      font-size: 16px;
      font-weight: var(--font-regular);
      margin: 0;
      margin-top: 10px;
      color: var(--primary-color);
    }
  }
}

@media ((min-width: $mobile-width) and (max-width: $tab-width)) {
  :root {
    --font-size-main-title: 40px;
    --display-mode: 1;
  }
}

@media (max-width: $mobile-width) {
  :root {
    --font-size-main-title: 30px;
    --font-size-secondary-title: 30px;
    --font-size-container-title: 20px;
    --h1-mobile-margin: 5px 0 0;
    --display-mode: 2;
    --ui-width: 100%;
    --mobile-padding: 20px;
    --top-spacing: 0px;
    --container-padding: 20px;

    // Header
    --header-position: relative;
    --header-flex-direction: column;
    --header-height: 110px;
    --header-top-margin: 45px;
    --header-justify-content: center;
    --header-logo-height: 45px;

    // Nav
    --nav-position: absolute;
    --nav-bottom: 0px;
    --ul-gap: 0px;
    --nav-li-width: 50px;
    --nav-background-color: var(--secondary-bg-color);
    --nav-width: 100%;

    // Subreddits
      // Switch (Mobile Only)
    --switch-gap: 0px;
    --switch-mobile-width: 100%;
    --switch-display: flex;
      // Search
    --search-margin-top: 20px;
    --search-container-height: 70px;
    --search-h4-height: 20px;
    --search-input-height: 50px;
      // Subs
    --subs-container: grid;
    --grid-template-columns: none;
    --grid-template-rows: 40px 1fr;
    --selected-subs-display: grid;
    --sub-image: 50px;
    --sub-selected-width: 100vw;
    --sub-selected-btn-width: calc(100vw - (var(--mobile-padding) * 2));
    --sub-selected-btn-height: 70px;
    --selected-title-margin-bottom: 20px;
    --selected-ul-gap: 10px;

    // Feed
    --page-top-height: 50px;
    --page-top-padding: 0px;
    --page-top-margin-bottom: 20px;
    --icon-bottom-padding: 0px;
    --feed-top-width: calc(var(--ui-width) - (2 * var(--mobile-padding)));
      // Icons
    --options-icon-size: 20px;
    --refresh-icon-size: 23px;
    --feed-icon-gap: 20px;
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
