@use 'base.module' as *;
@import 'normalize.css';

:root {
  isolation: isolate;
  font-family: $font-stack;
  background-color: #1C1D2A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --primary-color: #fff;
  --secondary-color: #EF6D58;
  --text-color: #B4B5BC;
  --bg-color: #1C1D2A;
  --secondary-bg-color: #303146;
  --border-color: #ADADB2;
}

*, *::after, *::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

