@use 'base.module' as *;

*, *::after, *::before {
  box-sizing: border-box;
}

.landing-page-container {
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: var(--ui-width);

  &.mobile-view {
    height: calc(100vh);
    flex-direction: column;
  }

  .logo-text {
    h1 {
      font-size: var(--landing-h1-size);
      font-weight: 800;
      margin: 0;
      line-height: 0.9;
      color: var(--primary-color);
    }
    
    h2 {
      font-size: var(--landing-h2-size);
      font-weight: var(--font-regular);
      margin: 0;
      color: var(--primary-color);
    }

    h3 {
      font-size: var(--landing-h3-size);
      font-weight: 700;
      margin: 0;
      margin-top: 10px;
      color: var(--primary-color);
    }

    p {
      color: var(--text-color);
      line-height: var(--landing-p-height);
      max-width: var(--landing-p-width);
      margin: var(--landing-p-margin);
    }
  }

  .logo-img img {
    width: var(--landing-img-width);
    height: var(--landing-img-height);
    z-index: -1;
  }

  .auth-button {
    width: var(--button-width);
    @include button;
  }
}