@use 'base.module' as *;

.refresh-icon {
  color: var(--secondary-color);
}

// Top Section
.profile-top {
  display: flex;
  justify-content: space-between;
  width: var(--ui-width);
  border-bottom: 2px solid var(--secondary-color);
  margin: var(--top-spacing) 0 var(--page-top-margin-bottom);
  height: var(--page-top-height);

  h1 {
    font-size: var(--font-size-main-title);
    font-weight: var(--font-bold);
    margin: var(--h1-margin);
    color: var(--primary-color);
  }
}

// Profile
.profile-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  .profile-container {
    width: var(--acc-container-width);
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    padding: var(--container-padding);
    border-radius: 10px;
    border: 2px solid var(--border-color);
    box-shadow: $container-shadow;

    .title-section {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid var(--secondary-color);
      
      h2 {
        font-size: var(--font-size-container-title);
        font-weight: var(--font-bold);
        margin: 0 0 10px;
        color: var(--secondary-color);
        text-decoration: none;
        text-align: center;
      }

      h3 {
        font-size: 16px;
        font-weight: var(--font-regular);
        margin: 0 0 10px;
        color: var(--primary-color);
        text-decoration: none;
        text-align: center;
      }
    }
  
    .round-corners {
      display: flex;
      width: 250px;
      max-width: 30dvh;
      height: auto;
      padding-top: var(--acc-img-padding);
      margin: 0 auto;
      
      img {
        width: 100%;
        border-radius: 50%/50%;
      }    
    }

    .profile-flex {
      display: flex;
      flex-direction: row;
      gap: 20px;

      &.mobile {
        flex-direction: column;
        gap: 10px;
      }
    
      .profile-buttons {
        width: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
        &.mobile {
          width: calc(var(--acc-container-width) - (var(--container-padding) * 2));
          margin-top: 10px;
          gap: 10px;
        }
    
        &.tablet {
          width: var(--acc-container-width);
          gap: 20px;
        }
    
        .auth-button {
          width: 100%;
          @include button;
        }
        
        .darklight-button {
          width: 100%;
          @include button;
          background-color: var(--switch-btn-bg);
          color: var(--bg-color);
    
          &:hover {
            background-color: var(--switch-btn-bg);
          }
        }
      }
    }
  }
}