@use 'base' as *;

.subreddits-container {
  display: flex;
  width: 1100px;
  margin-top: 100px;
  gap: 20px;
  
  .subreddits-select-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px - 100px)
  }

  .search-container {
    // height: 100px;
    margin-bottom: 20px;

      input {
        width: 100%;
        background-color: $bg-color;
        border: none;
        border-bottom: 2px solid $secondary-color;
        align-self: self-end;
        font-size: 72px;
        font-weight: $font-bold;
        color: $primary-color;
        // padding-bottom: 20px;
      }

      textarea:focus, input:focus {
        outline: none;
      }
  }

  .subreddit-selector {
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .subreddit-selector::-webkit-scrollbar {
    display: none;
  }
  
  ul {
    padding: 0;
    column-count: 2; /* Define the number of columns */
    column-gap: 20px; /* Set the gap between columns */
    list-style: none;
  }

  li {
    display: inline-block; /* Necessary for column layout */
    width: 100%; /* Ensures items take full column width */
    margin-bottom: 20px; /* Spacing between items */
  }

  h2 {
    font-size: 24px;
    font-weight: $font-bold;
    margin: 0;
    color: $secondary-color;
  }

  h3 {
    font-size: 16px;
    font-weight: $font-regular;
    margin: 0;
    margin-top: 10px;
    color: $primary-color;
  }

  h4 {
    font-size: 16px;
    font-weight: $font-regular;
    margin: 0;
    // margin-top: 10px;
    color: $secondary-color;
  }

  p {
    color: $text-color;
    line-height: 1.25;
    // max-width: 600px;
  }

  .logo-img img {
    width: 350px;
    height: auto;
  }

  .add-sub-button {
    @include button;
    width: 100%;
  }
}