@use 'base.module' as *;

.subreddits-container {
  display: grid;
  grid-template-columns: calc($ui-width - 300px - 20px) 300px;
  width: $ui-width;
  margin-top: $top-spacing;
  gap: 20px;
  
  .subreddits-select-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $top-spacing - 80px);

    .search-container {
      margin-bottom: 20px;

      h4 {
        height: 20px;
        font-size: 16px;
        font-weight: $font-regular;
        margin: 0;
        color: $secondary-color;
      }

      input {
        height: 90px;
        width: 100%;
        background-color: $bg-color;
        border: none;
        border-bottom: 2px solid $secondary-color;
        align-self: self-end;
        font-size: 72px;
        font-weight: $font-bold;
        color: $primary-color;
      }

      textarea:focus, input:focus {
        outline: none;
      }
    }
  

    .subreddit-selector {
      padding-bottom: 50px;
      overflow: auto;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      justify-content: center;
      align-items: center;

      .bottom-gradient {
        @include bottom-gradient;
      }
    }

    .subreddit-selector::-webkit-scrollbar {
      display: none;
    }
    
    ul {
      padding: 0;
      column-count: 2; /* Define the number of columns */
      column-gap: 20px; /* Set the gap between columns */
      list-style: none;
      margin: 0;
    }

    li {
      display: inline-block; /* Necessary for column layout */
      width: 100%; /* Ensures items take full column width */
      margin-bottom: 20px; /* Spacing between items */
    
      .sub-unit-container {
        background-color: $secondary-bg-color;
        padding: 30px;
        border-radius: 10px;
        border: 2px $border-color;

        .title-section {
          display: flex;
          
          .sub-img {
            width: 60px;
            border-radius: 50%;
            margin-right: 10px;
          }

          .title-text {
            max-width: calc(390px - 30px - 60px - 10px - 30px);
          }
        }
      }
    }
  }

  // Selected Column

  .subreddits-selected-container {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px - 100px);
  
  
    .selected-title {
      height: 110px;
      margin-bottom: 20px;
      display: flex;
      
      h1 {
        font-size: 48px;
        font-weight: $font-bold;
        margin: 0;
        color: $text-color;
        border-bottom: 2px solid $text-color;
        align-self: flex-end;
        width: 100%;
        // text-align: center;
        padding-bottom: 10px;
      }
    }
    
    .subreddit-selected {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .continue-btn {
        z-index: 10;
      }

      .selected-subs {
        ul {
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin: 0;

          li {
            border: 2px $border-color;
            border-radius: 0 10px 10px 0;
            transition: $transition-effect;
            &:hover {
              background-color: $secondary-color;
              color: $primary-color;
            }

            .subreddit-empty-container {
              height: 60px;
              border-radius: 0 10px 10px 0;
            }

            .subreddit-container {
              border-left: 10px solid $secondary-color;
              height: 60px;
              display: flex;
              align-items: center;
              padding-left: 10px;
              cursor: pointer;
              border-radius: 0 10px 10px 0;

              .sub-img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                margin-right: 10px;
              }

              p {
                width: calc(300px - 10px - 10px - 45px - 10px - 10px);
                text-overflow: ellipsis;
                overflow: hidden; 
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }

  h2 {
    font-size: 24px;
    font-weight: $font-bold;
    margin: 0;
    color: $secondary-color;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    width: 100%;
  }

  h3 {
    font-size: 16px;
    font-weight: $font-regular;
    margin: 0;
    margin-top: 10px;
    color: $primary-color;
  }

  p {
    color: $text-color;
    line-height: 1.25;
  }

  .logo-img img {
    width: 350px;
    height: auto;
  }

  .add-sub-button,
  .continue-btn {
    @include button;
    width: 100%;
  }
}