@use 'base.module' as *;

.Header {
  color: var(--primary-color);
  height: var(--header-height);
  align-content: center;
  display: flex;
  justify-content: var(--header-justify-content);
  width: var(--ui-width);
  box-sizing: border-box;
  
  &.mobile-header.hide-logo {
    display: none;
  }
  .Header-container {

    .Header-logo {
      position: var(--header-position);
      margin-top: var(--header-top-margin);
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 200px;
      height: var(--header-logo-height);
      cursor: pointer;

      img {
        width: 45px;
        height: 45px;
      }

      h3 {
        margin-left: 15px;
      }
    }
  }
  
  nav {
    background-color: var(--nav-background-color);
    width: var(--nav-width);
    max-width: var(--nav-max-width-tab);
    align-content: center;
    position: var(--nav-position);
    bottom: var(--nav-bottom);
    z-index: 10;

    .nav-slide-container.mobile-bg {
      position: relative;
      display: var(--switch-display);
      flex-direction: row;
      height: 50px;
      box-sizing: border-box;
      overflow: hidden;
      z-index: -1;

      &.hide-nav {
        display: none;
      }
    
      .nav-slide-background.mobile-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 50px;
          height: 100%;
          background-color: var(--secondary-color);
          transition: transform 0.2s ease-in-out;
          transform: translateX(var(--nav-translate-distance));
          z-index: -5;
          li {color: #fff;}
        }
      }
    }
    
    ul {
      display: flex;
      gap: var(--ul-gap);
      padding: 0 var(--mobile-padding);
      justify-content: space-between;
      margin: 0;
      z-index: 10;
    }
  
    li .full-nav-li {
      @include nav-style;
    }

    li .mobile-nav-li {
      display: flex;
      width: var(--nav-li-width);
      height: var(--nav-li-width);
      justify-content: center;
      align-items: center;
      color: var(--text-color);
      transition: color .3s ease-in-out;

      .nav-icon {
        height: 20px;
        width: auto;
      }
    }
    li .mobile-nav-li.current-page {
      color: #fff;
    }
  }

  .contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    color: var(--primary-color);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 14px;
    font-weight: 800;
    align-self: center;
    cursor: pointer;
    transition: .3s;

    &.hover {
      background-color: var(--secondary-bg-color);
    }
  }
}

